.experience-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:1000px;
}

.timeline-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.media-timeline{
  justify-self: center;
  grid-column: 12/13;
  grid-row: 1/26;
  background-color: white;
  width:5px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(26, 32px);
  grid-template-columns: repeat(23, 1fr);
  min-width:900px;
  min-height:900px;
  margin-bottom:-200px;
}

.card {
  padding: 5%;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
  min-width:430px;
  min-height:224px;
}

.card:hover {
  transform: scale(101%) translateY(-4px);
}

.dot {
  grid-column: 12/13;
  border-radius: 50%;
  background-color: var(--light-text-color);
  aspect-ratio: 1;
  height: 25px;
  align-self: center;
  justify-self: center;
}

.experience-logo {
  aspect-ratio: 1;
  height: 100px;
  object-fit: contain;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: var(--light-text-color);
}

.item-title {
  font-size: 26px;
}

.item-date {
  font-size: 16px;
}

.item-role {
  margin-top: 20px;
  font-size: 22px;
}

.card-container :nth-child(1 of .dot) {
  grid-row: 5/6;
}

.card-container :nth-child(2 of .dot) {
  grid-row: 12/13;
}

.card-container :nth-child(3 of .dot) {
  grid-row: 19/20;
}

.card-container :nth-child(odd of .card) {
  grid-column: 1/11;
}

.card-container :nth-child(even of .card) {
  grid-column: 14/24;
}

.card-container :nth-child(1 of .card) {
  grid-row: 2/9;
}

.card-container :nth-child(2 of .card) {
  grid-row: 9/16;
}

.card-container :nth-child(3 of .card) {
  grid-row: 16/23;
}

@media only screen and (max-width: 940px){
  .timeline-container{
    justify-content: right;
  }

  .card-container{
    min-width:300px;
    grid-template-columns: repeat(10, 1fr);
  }

  .media-timeline{
    grid-column: 12/13;
    grid-row: 1/26;
  }

  .card-container :nth-child(odd of .card) {
    grid-column: 1/10;
  }

  .card-container :nth-child(even of .card) {
    grid-column: 1/10;
  }

  .card-container :nth-child(1 of .card) {
    grid-row: 2/9;
  }
  
  .card-container :nth-child(2 of .card) {
    grid-row: 10/17;
  }
  
  .card-container :nth-child(3 of .card) {
    grid-row: 18/24;
  }

  .card-container :nth-child(1 of .dot) {
    grid-row: 5/6;
  }
  
  .card-container :nth-child(2 of .dot) {
    grid-row: 13/14;
  }
  
  .card-container :nth-child(3 of .dot) {
    grid-row: 21/22;
  }
}

@media only screen and (max-width:660px){
  .card{
    min-width: 200px;
  }

  .card-container{
    grid-template-rows: repeat(30, 32px);
    grid-template-columns: repeat(8, 1fr);
  }

  .card-container :nth-child(odd of .card) {
    grid-column: 1/8;
  }

  .card-container :nth-child(even of .card) {
    grid-column: 1/8;
  }

  .card-container :nth-child(1 of .card) {
    grid-row: 2/10;
  }
  
  .card-container :nth-child(2 of .card) {
    grid-row: 11/19;
  }
  
  .card-container :nth-child(3 of .card) {
    grid-row: 20/28;
  }

  .card-container :nth-child(1 of .dot) {
    grid-row: 5/6;
  }
  
  .card-container :nth-child(2 of .dot) {
    grid-row: 14/15;
  }
  
  .card-container :nth-child(3 of .dot) {
    grid-row: 23/24;
  }

  .media-timeline{
    grid-row:1/30;
  }
}

@media only screen and (max-width:590px){
  .item-role{
    font-size: 17px;
  }

  .item-title{
    font-size: 22px;
  }

  .experience-logo{
    height:60px;
  }
}
