* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-spacing: 90vh;
  --light-text-color: #f7f7f7;
  --dark-bg-color: #141414;
}

/* CANVAS */

canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

/* NAVBAR */

.navbar-container {
  z-index: 1000;
  width: 100vw;
  height: 55px;
  background-color: aqua;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;

  background: rgba(28, 28, 29, 0.4);
  box-shadow: 0 4px 30px rgba(28, 28, 29, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-text {
  font-size: 21px;
  font-family: Jost;
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--light-text-color);
  transition: all 0.5s;
  border-width: 0;
  outline-width: 0;
}

.navbar-text:hover {
  background: rgba(5, 5, 6, 0.6);
}

.logo {
  height: 38px;
  left: 10px;
  position: absolute;
  z-index: 100;
}

/* PROGESS BAR */

.progress-bar-container {
  justify-self: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: rgba(13, 13, 14, 1);
  z-index: 9999;
}

.progress-bar-label {
  color: var(--light-text-color);
  font-size: 24px;
}

#progress-bar {
  width: 0;
  height: 20px;
  background-color: var(--light-text-color);
  border-radius: 15px;
  transition: width 0.2s;
}

/* MAIN */

.main-div {
  display: grid;
}

main {
  margin-top: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  display: grid;
  font-family: Jost;
  background-color: var(--dark-bg-color);
  z-index: 100;
  padding: 20% 5%;
}

section {
  margin-bottom: var(--section-spacing);
}

.home-page {
  height: 100vh;
  background-color: transparent;
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.title-container {
  display: grid;
  height: 30vh;
  width: 80vw;
  z-index: 10;
  position: fixed;
}

.main-title {
  font-size: 150px;
  color: var(--light-text-color);
  font-family: "righteous";
  position: absolute;
  justify-self: center;
  margin-top: 30px;
}

.subtitle {
  position: absolute;
  justify-self: left;
  font-size: 45px;
  color: var(--light-text-color);
}

.about-container {
  grid-column: 2/6;
}

.section-title {
  padding: 1rem;
  grid-column: 2;
  width: fit-content;
  margin-bottom: 30px;
  font-size: 50px;
  color: var(--light-text-color);
  display: grid;
  place-content: center;
  height: fit-content;
}

.section-paragraph {
  padding: 3rem 3rem 10rem 3rem;
  grid-column: 2 / 3;
  font-size: 22px;
  outline: 0;
  border-width: 0;
  color: var(--light-text-color);
}

.section-paragraph:hover {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--color / 1), rgba(255, 255, 255, 0.12) 40%)
  );
}

.section-background {
  box-shadow: 0px 0px 10px 0px rgba(214, 217, 216, 0.44);
  border-radius: 12px;
  background: rgba(13, 13, 14, 0.65);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.5);

  animation-name: section-glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.skills-div {
  margin-top: 10vh;
}

.projects-section {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.projects-section > .section-paragraph {
  padding: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  grid-column-start: custom-grid-column-start;
  grid-column-end: custom-grid-column-end;
}

.project-description {
  font-size: 20px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.experience-section {
  grid-column: 1/15;
  place-content: center;
}

.timeline-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.timeline {
  margin-top: 4%;
  width: 5px;
  height: 80%;
  background-color: var(--light-text-color);
}

@keyframes section-glow {
  0% {
    box-shadow: 0px 0px 10px 2px rgba(214, 217, 216, 0.44);
  }
  100% {
    box-shadow: 0px 0px 7px 0px rgba(214, 217, 216, 0.44);
  }
}
